
  <!-- <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Title" nzSubtitle="PDA">
  </nz-page-header> -->

  <div class="header">
  PDA
  <div class="d2">
    <i nz-icon nzType="check" nzTheme="outline"></i>
  <i nz-icon nzType="close" nzTheme="outline"></i>
  <i nz-icon nzType="save" nzTheme="outline"></i>
  <i nz-icon nzType="edit" nzTheme="outline"></i>
  <i nz-icon nzType="eye" nzTheme="fill"></i>
  </div>
  </div>
<div class="d1">
  <table cellspacing="20">
    <tr>
      <td>Enquiry No</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>Quantity</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
      <td>Customer</td>
      <td><input type="" name="" placeholder="Scorpio" nz-input></td>
  
    </tr>
  
    <tr>
      <td>PortCall</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>ETA</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
      <td>Owner</td>
      <td><input type="" name="" placeholder="Scorpio" nz-input></td>
  
    </tr>
  
    <tr>
      <td>Portlocation</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>NRT</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
      <td>Charterer</td>
      <td><input type="" name="" placeholder="Scorpio" nz-input></td>
  
    </tr>
    <tr>
      <td>Purpose of call</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>GRT</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
      <td>Remark</td>
      <td><textarea nz-input></textarea></td>
  
    </tr>
  
    <tr>
      <td>Vessel Name</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>LOA</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
      <td>Port Saty(hours)</td>
      <td><input type="" name="" placeholder="" nz-input></td>
  
    </tr>
  
    <tr>
      <td>Dead weight</td>
      <td><input type="" name="" placeholder="ENq67676" nz-input></td>
  
      <td>Cargo Type</td>
      <td><input type="" name="" placeholder="Nt565" nz-input></td>
  
  
    </tr>
  </table>
</div>



<br>
<br>
<nz-table >
  <thead class="th">
    <tr>
      <td [rowSpan]="2">Charge item</td>
      <td [rowSpan]="2">Remarks</td>
      <td [rowSpan]="2">Qnty</td>
      <td [rowSpan]="2">Unit Price</td>
      <td [colSpan]="4">Amout</td>
</tr>
<tr>
    <td >AED</td>
    <td >VAT</td>
    <td>Total AED</td>
</tr>	
   
  </thead>
  <tbody class="tb">
    <tr>
     <td colspan="9">1212</td>  
    </tr>
  <tr>
    <td>1</td>
    <td colspan="5">Marine charges</td>
  </tr>
  </tbody>
</nz-table>
<!-- <table border="2" style="text-align: center;">
  <tr>
         <td rowspan="2">Charge item</td>
         <td rowspan="2">Remarks</td>
         <td rowspan="2">Qnty</td>
         <td rowspan="2">Unit Price</td>
         <td colspan="3">Amout</td>
 </tr>
 <tr>
       <td >AED</td>
       <td >VAT</td>
       <td>Total AED</td>
 </tr>	
<tr>
  <td colspan="9"> </td>
</tr>

</table> -->