.ant-input {
  width: 200px;
  margin: 0 8px 8px 0;
}

.d1{
  height: auto;
  padding: 40px;
  margin: 40px;
 background-color: #f5f1ef;
 overflow-x:auto;
}
.content{
  margin-left: 1%;
}
.site-page-header{
  border:solid 1px blue;
}
h2{
  margin-left: 2%;
}
.header{
  width: auto;
  height: 45px;

  background-color:lightgrey;
  
}

.d2{
float: right;
margin-right: 50px;
margin-top:-25px;
}
.icon1{
  padding-right:10px;
}
.t2{
  border: solid 3px black;
}

.th{
  border: solid 1px black;
  background-color: lightslategray;
}
.tb{
  border: solid 1px black;
}
[nz-button] {
  margin-left:80%;
  margin-bottom: 12px;
}
nz-button-group {
  margin: 0 8px 8px 0;
}
.button{
  width: auto;
  height: 15%;
  padding: 30px;
  margin: 30px;
 background-color: #ffffcc;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
.second1{
  width: auto;
  height:-50px;

 
}
nz-date-picker {
  margin: 0 8px 12px 0;
}
.currency{
  text-align: center;
  padding-top: 5%;
}
.grand{
  font-size: large;
  font-weight: bold;
}
.head{
  font-weight: bold;
}

.line1{
  text-align: center;
  
}
.line2{
float:right;
margin-top: -15px;
margin-right: 2%;
}
.currency1{
  color: black;
  font-weight: bold;
  padding: inherit;
}
[nz-icon]{
  color: blue;
}
.table{

 padding: 30px;
  margin: 30px;
 background-color: #f5f1ef;
}
.sub{

  font-weight: bold;
}
.final{
  font-size: larger;
  font-weight: bold;
}
.second{
   padding: 30px;
  margin: 30px;
 background-color: #f5f1ef;
}
[nz-icon]{
  color: black;
}
.pda{
  margin-left: 30px;

}
img{
width: 1%;
}
.column
{
    float: left;
    width: 33%;
    padding-bottom: 10px;
}
.formtd
{
padding: 0px 15px 0px 90px;
}
.drop1
{
width: 200px;
height: 28px;
}