<!-- <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Title" nzSubtitle="PDA">
  </nz-page-header> -->
<div>
  <div class="header">
    <h2>PDA</h2>
    <div class="d2">
      <i class="icon1" nz-icon nzType="check" nzTheme="outline"></i>
      <i class="icon1" nz-icon nzType="close" nzTheme="outline"></i>
      <!-- <i class="icon1" nz-icon nzType="save" nzTheme="outline"></i> -->
      <i class="icon1" nz-icon nzType="edit" nzTheme="outline"></i>
      <i class="icon1" nz-icon nzType="eye" nzTheme="outline"></i>

    </div>
  </div>
  <div>
    <table style="margin-left:2%;">
      <tr>
        <td [rowSpan]="2" class="currency"><b>Valid Till : </b></td>
        <td [rowSpan]="2" class="currency"><input type="date" name="" placeholder="Choose" nz-input></td>
        <td [rowSpan]="2" class="currency"><b>Status : </b></td>
        <td [rowSpan]="2" class="currency"><input type="text" name="" placeholder="Status" nz-input></td>

      </tr>
    </table>
  </div>
  <p class="line2">Last Modified:08/09/2020 02:53 Hrs</p>

  <div class="d1">

    <table cellspacing="20">
      <tr>
        <td class="formtd">Enquiry No</td>
        <td class="formtd"><input type="" name="" placeholder="ENQFUJ02052020" nz-input></td>

        <td class="formtd">Quantity</td>
        <td class="formtd"><input type="" name="" placeholder="1000 MT" nz-input></td>

        <td class="formtd">Customer</td>
        <td class="formtd"><input type="" name="" placeholder="Scorpio" nz-input></td>

      </tr>

      <tr>
        <td class="formtd">PortCall</td>
        <td class="formtd"><input type="" name="" placeholder="Fujairah" nz-input></td>

        <td class="formtd">ETA</td>
        <td class="formtd"><input type="" name="" placeholder="29/09/2020" nz-input></td>

        <td class="formtd">Owner</td>
        <td class="formtd"><input type="" name="" placeholder="Scorpio" nz-input></td>

      </tr>

      <tr>
        <td class="formtd">Portlocation</td>
        <td class="formtd"><input type="" name="" placeholder="" nz-input></td>

        <td class="formtd">NRT</td>
        <td class="formtd"><input type="" name="" placeholder="Nt565" nz-input></td>

        <td class="formtd">Charterer</td>
        <td class="formtd"><input type="" name="" placeholder="" nz-input></td>

      </tr>
      <tr>
        <td class="formtd">Purpose of call</td>
        <td class="formtd"><input type="" name="" placeholder="Husbundry Call" nz-input></td>

        <td class="formtd">GRT</td>
        <td class="formtd"><input type="" name="" placeholder="2351" nz-input></td>

        <td class="formtd">Port Saty(hours)</td>
        <td class="formtd"><input type="" name="" placeholder="" nz-input></td>

      </tr>

      <tr>
        <td class="formtd">Vessel Name</td>
        <td class="formtd"><input type="" name="" placeholder="MT SEA GLORY" nz-input></td>

        <td class="formtd">LOA</td>
        <td class="formtd"><input type="" name="" placeholder="123.37 M" nz-input></td>


        <td class="formtd">Remark</td>
        <td class="formtd"><textarea nz-input></textarea></td>
      </tr>

      <tr>
        <td class="formtd">Dead weight</td>
        <td class="formtd"><input type="" name="" placeholder="" nz-input></td>

        <td class="formtd">Cargo Type</td>
        <td class="formtd"><input type="" name="" placeholder="Gas Oil" nz-input></td>


      </tr>
    </table>
  </div>
  <br>
  <div class="button">

    <td class="currency1">Tariff Currency</td>
    <td><input type="" name="" placeholder="USD" nz-input></td>

    <td class="currency1">PDA Currency</td>
    <td><input type="" name="" placeholder="USD" nz-input></td>
    <button nz-button nzType="primary">Add Tariff</button> <i nz-icon nzType="delete" nzTheme="outline"></i>
    <br>

    <button nz-button nzType="primary">Add Charge item</button>

  </div>
  <br>
  <br>
  <div class="table">
    <nz-table>
      <thead class="th">
        <tr>
          <td [rowSpan]="2" class="head">Charge item</td>
          <td [rowSpan]="2" class="head">Remarks</td>
          <td [rowSpan]="2" class="head">Qnty</td>
          <td [rowSpan]="2" class="head">Unit Price</td>
          <td [colSpan]="4" class="head">Amout</td>
        </tr>
        <tr>
          <td class="head">AED</td>
          <td class="head">VAT</td>
          <td class="head">Total AED</td>
        </tr>

      </thead>
      <tbody class="tb">
        <tr>
          <td [colSpan]="12" class="head">ITEM-1-PORT AND MARINE</td>
        </tr>
        <tr>

          <td [rowSpan]="2">1.1 Marine charges</td>
          <td [rowSpan]="2">AED 1.60*2351</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">3282.00</td>
          <td [rowSpan]="2">5%</td>
          <td [rowSpan]="2">3309.00</td>

        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>
        <tr>

          <td [rowSpan]="2">1.2 Cumpulsory Guarbage Skip</td>
          <td [rowSpan]="2">AED 575/day</td>
          <td [rowSpan]="2">2</td>
          <td [rowSpan]="2">575</td>
          <td [rowSpan]="2">1150.00</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">1150.00</td>

        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>
        <tr>

          <td [rowSpan]="2">1.3 Customs Clearence charge</td>
          <td [rowSpan]="2">Final charges at actual</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">115.00</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">1150.00</td>

        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>
        <tr>

          <td [rowSpan]="2">1.4 Charge item 4</td>
          <td [rowSpan]="2">Remark</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">115.00</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">115.00</td>

        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>

        <tr>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">Sub Total</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">4689.00</td>
        </tr>

        <tr>
          <td [colSpan]="12"></td>
        </tr>
        <tr>
          <td [colSpan]="12" class="head">ITEM-2-CREW CHANGE AND PERSONAL HANDLING SERVICES</td>
        </tr>

        <tr>
        <tr>
          <td [rowSpan]="2">2.1 INIGRATION FEE</td>
          <td [rowSpan]="2">Only applicable foran signers</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">10.00</td>
          <td [rowSpan]="2">5%</td>
          <td [rowSpan]="2">10.50</td>
        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>

        <tr>
          <td [rowSpan]="2">2.2 Crew Transportation</td>
          <td [rowSpan]="2">To OR form Dubai Airport</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">180.00</td>
          <td [rowSpan]="2">5%</td>
          <td [rowSpan]="2">189.50</td>
        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>

        <tr>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">Sub Total</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">199.00</td>
        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>

        <tr>
          <td [colSpan]="12" class="head">ITEM-3-AGENCIES EXPENSES</td>
        </tr>

        <tr>
          <td [rowSpan]="2">3.1 Basic Fee-Bunkering</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">2000.00</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2">2000.00</td>
        </tr>
        <tr>
          <td [colSpan]="12"></td>
        </tr>
        <tr>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">Sub Total</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="sub">2428.00</td>
        </tr>

        <tr>
          <td [colSpan]="12"></td>
        </tr>

        <tr>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="final">Grand Total</td>
          <td [rowSpan]="2"></td>
          <td [rowSpan]="2" class="final">7545.00</td>
        </tr>

        <tr>
          <td [colSpan]="12"></td>
        </tr>
      </tbody>
    </nz-table>
  </div>


</div>
<!-- <table border="2" style="text-align: center;">
  <tr>
         <td rowspan="2">Charge item</td>
         <td rowspan="2">Remarks</td>
         <td rowspan="2">Qnty</td>
         <td rowspan="2">Unit Price</td>
         <td colspan="3">Amout</td>
 </tr>
 <tr>
       <td >AED</td>
       <td >VAT</td>
       <td>Total AED</td>
 </tr>	
<tr>
  <td colspan="9"> </td>
</tr>

</table> -->